.current-driver {
    padding: 1% 2%;
    text-align: start;
    margin-top: 2%;
    transition: 0.3s;
    border-radius: 5px;
}

.current-driver:hover {
    cursor: pointer;
    transform: scale(0.99);
    transition: 0.3s;
}

span.driverNumber {
    color: rgb(120, 120, 120)
}