body {
    text-align: center;
    font-family: "Work Sans", sans-serif;
}

h1.this-year-h1 {
    font-family: "Roboto", sans-serif;
}

div.current-teams-table-div {
    margin-left: 2%;
    overflow-x: scroll;
    padding: 0;
}

table.current-teams-table {
    text-align: start;
}

div.currentDrivers {
    height: 70vh;
    overflow-y: scroll;
}

div.tracks-part {
    padding: 2%;
}

div.tracks-grid {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    gap: 1%;
}