nav {
    font-family: "Work Sans", sans-serif;
    border-bottom: 2px solid #ff1000;
}

.navbar-brand {
    margin-left: 0.5%;
}

.nav-link {
    margin-left: 45px;
    border-radius: 5px;
    transition: 0.3s;
}

.nav-link:hover {
    color: #fff;
    background-color: #fe3021;
    transition: 0.3s;
}