div.search-results {
    padding: 1%;
}
  
div.drivers {
    width: 100%;
    overflow-x: scroll;
}

div.tracksSearchPage {
    padding: 1%;
}

div.teams, div.drivers, div.tracksSearchPage {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
    gap: 2%;
}

div.driver, div.team, div.track {
    flex: 0 0 auto;
    margin-bottom: 2%;
}

div.team {
    background-color: #fe3021;
    padding: 0.5%;
    border-radius: 10px;
    transition: 0.3s;
}

div.team:hover {
    cursor: pointer;
    background-color: #c30d00;
    transition: 0.3s;
}